{% extends 'app/dashboard/dashboard.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5 mb-4">
                    Agregar un nueva Empresa
                </div>
                <form method="post" id="formEmpresaRegistro">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Razon Social</label>
                                <input type="text" class="form-control required" name="razon_social" placeholder="Razon Social">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Rut Empresa</label>
                                <input type="text" class="form-control required" name="rut_empresa" placeholder="Rut Empresa">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Direccion</label>
                                <input type="text" class="form-control required" name="direccion" placeholder="Direccion">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">CT</label>
                                <input type="text" class="form-control required" name="ct" placeholder="CT">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Clave Seremi</label>
                                <input type="text" class="form-control required" name="clave_seremi" placeholder="Clave Seremi">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-content-label mg-b-5 mb-4">
                                Agregar Contacto de la Empresa
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Nombre Contacto</label>
                                <input type="text" class="form-control required" name="nombre_contacto" placeholder="Nombre Contacto">
                                <input type="text" class="form-control d-none" value="1" name="valida_contacto">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Rut Contacto</label>
                                <input type="text" class="form-control required" name="rut_contacto" placeholder="Rut Contacto">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group mb-3">
                                <label class="form-label">Telefono Contacto</label>
                                <input type="text" class="form-control required" name="telefono_contacto" placeholder="Telefono Contacto">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group mb-3">
                                <label class="form-label">Cargo Contacto</label>
                                <input type="text" class="form-control required" name="cargo_contacto" placeholder="Cargo Contacto">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group mb-3">
                                <label class="form-label">Correo Contacto</label>
                                <input type="text" class="form-control required" name="correo" placeholder="Correo Contacto">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-content-label mg-b-5 mb-4">
                                Agregar OA de la Empresa
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Usuarios Web</label>
                                <input type="text" class="form-control required" name="usuario_web" placeholder="Usuarios Web">
                                <input type="text" class="form-control d-none" value="1" name="valida_oa">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Clave Web</label>
                                <input type="text" class="form-control required" name="clave_web" placeholder="Clave Web">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Asesor OA</label>
                                <input type="text" class="form-control required" name="asesor_oa" placeholder="Asesor OA">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Telefono OA</label>
                                <input type="text" class="form-control required" name="telefono" placeholder="Telefono">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <label class="form-label">Correo OA</label>
                                <input type="text" class="form-control required" name="correo_oa" placeholder="Correo OA">
                            </div>
                        </div>
                    </div>
                    <button type="button" id="btnRegistrar" class="btn btn-primary float-end">Guardar</button>
                </form>
                <!-- <p class="mg-b-20">It is Very Easy to Customize and it uses in your website apllication.</p> -->
            </div>
        </div>
    </div>
</div>
<!-- row closed -->
</div>

{% endblock %}

{% block js %}
<!--Internal  Select2 js -->
<script src="{% static 'assets/dashboard/plugins/select2/js/select2.min.js' %}"></script>
<!-- Internal Jquery.steps js -->
<script src="{% static 'assets/dashboard/plugins/jquery-steps/jquery.steps.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/parsleyjs/parsley.min.js' %}"></script>
<!--Internal  Form-wizard js -->
<script src="{% static 'assets/dashboard/js/form-wizard.js' %}"></script>

<!--Internal Fileuploads js-->
<script src="{% static 'assets/dashboard/plugins/fileuploads/js/fileupload.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/fileuploads/js/file-upload.js' %}"></script>

<!--Internal Fancy uploader js-->
<script src="{% static 'assets/dashboard/plugins/fancyuploder/jquery.ui.widget.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/fancyuploder/jquery.fileupload.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/fancyuploder/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/fancyuploder/jquery.fancy-fileupload.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/fancyuploder/fancy-uploader.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#btnRegistrar').on('click', function () {
            //datos contacto
            const nombre_contacto = $('[name="nombre_contacto"]').val();
            const rut_contacto = $('[name="rut_contacto"]').val();
            const cargo_contacto = $('[name="cargo_contacto"]').val();
            const telefono_contacto = $('[name="telefono_contacto"]').val();
            const email_contacto = $('[name="correo"]').val();
            if (nombre_contacto == "" && rut_contacto == "" && cargo_contacto == "" && telefono_contacto == "" && email_contacto == "") {
                $('[name="valida_contacto"]').val(0);
            }
            const usuario_web = $('[name="usuario_web"]').val();
            const clave_web = $('[name="clave_web"]').val();
            const asesor_oa = $('[name="asesor_oa"]').val();
            const telefono = $('[name="telefono"]').val();
            const correo_oa = $('[name="correo_oa"]').val();
            if (usuario_web == "" && clave_web == "" && asesor_oa == "" && telefono == "" && correo_oa == "") {
                $('[name="valida_oa"]').val(0);
            }

            $('#formEmpresaRegistro').submit();
        });
    });
</script>
{% endblock %}