{% extends 'app/dashboard/dashboard.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}
<div class="mt-5">
    <!-- Row -->
    <div class="row row-sm">
        <div class="col-lg-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-body">
                    <div>
                        <div class="row">
                            <div class="col">
                                <h6 class="main-content-label mb-1">Empresas Registrados</h6>
                            </div>
                            <div class="col justify-content-end d-flex">
                                <a href="{% url 'agregar-empresa' %}" class="btn btn-primary">Agregar</a>
                            </div>
                        </div>
                        <p class="text-muted card-sub-title">En esta tabla se visualizan todos los empresas registradas :</p>
                    </div>
                    <div class="table-responsive  export-table">
                        <table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Razon Social</th>
                                    <th class="border-bottom-0">Rut Empresa</th>
                                    <th class="border-bottom-0">Direccion</th>
                                    <th class="border-bottom-0">CT</th>
                                    <th class="border-bottom-0">Clave Seremi</th>
                                    <th class="border-bottom-0">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in entity_empresa %}
                                <tr>
                                    
                                    <td>{{ u.razon_social }}</td>
                                    <td>{{ u.rut_empresa }}</td>
                                    <td>{{ u.direccion }}</td>
                                    <td>{{ u.ct }}</td>
                                    <td>{{ u.clave_seremi }}</td>
                                    <td><a class="btn btn-warning" href="{% url 'empresa-edit' u.id_empresa %}">Editar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
{% endblock %}

{% block js %}
<!-- INTERNAL Select2 js -->
<script src="{% static 'assets/dashboard/plugins/select2/js/select2.full.min.js' %}"></script>

<!-- Internal Data tables -->
<script src="{% static 'assets/dashboard/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/js/table-data.js' %}"></script>

{% endblock %}