{% include 'app/home/index.html' %}
{% block css %}
{% endblock %}

{% block contenido %}

    <!-- Contact Start -->
    <div class="container-fluid bg-secondary px-0">
        <div class="row g-0">
            <div class="col-lg-6 py-6 px-5">
                <h1 class="display-5 mb-4">Contacto Para Cualquier Consulta</h1>
                <form>
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="form-floating-1">
                                <label for="form-floating-1">Nombre Completo</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="form-floating-2" >
                                <label for="form-floating-2">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="form-floating-3">
                                <label for="form-floating-3">Asunto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" id="form-floating-4" style="height: 150px"></textarea>
                                <label for="form-floating-4">Mensaje</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
            
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}
{% include 'app/home/pie.html' %}
{% block js %}
{% endblock %}
