{% extends 'app/dashboard/dashboard.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}
<div class="mt-5">
    <!-- Row -->
    <div class="row row-sm">
        <div class="col-lg-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-body">
                    <div>
                        <div class="row">
                            <div class="col">
                                <h6 class="main-content-label mb-1">Trabajos Registrados</h6>
                            </div>
                            
                        </div>
                        <p class="text-muted card-sub-title">En esta tabla se visualizan todos los trabajos registradas :</p>
                    </div>
                    <div class="table-responsive  export-table">
                        <table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Empresa</th>
                                    <th class="border-bottom-0">Trabajador</th>
                                    <th class="border-bottom-0">Tipo Trabajo</th>
                                    <th class="border-bottom-0">Fecha Realizacion</th>
                                    <th class="border-bottom-0">Fecha Vencimiento
                                    </th><th class="border-bottom-0">Editar Trabajo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in entity_trabajos %}
                                <tr>
                                    <td>{{ u.id_empresa }}</td>
                                    <td>{{ u.id_trabajador }}</td>
                                    <td>{{ u.tipo_trabajo }}</td>
                                    <td>{{ u.fecha_realizacion }}</td>
                                    <td>{{ u.fecha_vencimiento }}</td>
                                    <td><a class="btn btn-warning" href="{% url 'trabajos-edit' u.id_trabajos %}">Editar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
{% endblock %}

{% block js %}
<!-- INTERNAL Select2 js -->
<script src="{% static 'assets/dashboard/plugins/select2/js/select2.full.min.js' %}"></script>

<!-- Internal Data tables -->
<script src="{% static 'assets/dashboard/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/js/table-data.js' %}"></script>

{% endblock %}