{% extends 'app/dashboard/dashboard.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}
<div class="mt-5">
    <!-- Row -->
    <div class="row row-sm">
        <div class="col-lg-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-body">
                    <div>
                        <div class="row">
                            <div class="col">
                                <h6 class="main-content-label mb-1">Empresas Registrados</h6>
                            </div>
                            
                        </div>
                        <p class="text-muted card-sub-title">En esta tabla se visualizan todos los empresas registradas :</p>
                    </div>
                    <div class="table-responsive-xxl">
                        <table id="file-datatable" class="table align-middle">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Empresa</th>
                                    <th class="border-bottom-0">Nombre Trabajador</th>
                                    <th class="border-bottom-0">Rut Trabajador</th>
                                    <th class="border-bottom-0">Direcion Trabajador</th>
                                    <th class="border-bottom-0">Email Trabajador</th>
                                    <th class="border-bottom-0">Telefono Trabajador</th>
                                    <th class="border-bottom-0">Cargo</th>
                                    <th class="border-bottom-0">Area</th>
                                    <th class="border-bottom-0">Fecha Nacimiento</th>
                                    <th class="border-bottom-0">Fecha Ingreso</th>
                                    <th class="border-bottom-0">Capacitacion</th>
                                    <th class="border-bottom-0">Trabajos Nuevos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in trabajadores %}
                                <tr>
                                    
                                    <td>{{ u.id_empresa }}</td>
                                    <td>{{ u.nombre_trabajador }}</td>
                                    <td>{{ u.rut_trabajador }}</td>
                                    <td>{{ u.direccion_trabajador }}</td>
                                    <td>{{ u.email_trabajador }}</td>
                                    <td>{{ u.cargo }}</td>
                                    <td>{{ u.area }}</td>
                                    <td>{{ u.telefono_trabajador }}</td>
                                    <td>{{ u.fecha_nacimiento }}</td>
                                    <td>{{ u.fecha_ingreso }}</td>
                                    <td><a class="btn btn-primary" href="{% url 'agregar-capacitacion' u.id_trabajador %}">Capacitacion</a></td>
                                    <td><a class="btn btn-primary" href="{% url 'agregar-trabajos' u.id_trabajador %}">Trabajos Nuevos</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
{% endblock %}

{% block js %}
<!-- INTERNAL Select2 js -->
<script src="{% static 'assets/dashboard/plugins/select2/js/select2.full.min.js' %}"></script>

<!-- Internal Data tables -->
<script src="{% static 'assets/dashboard/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/dashboard/plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/dashboard/js/table-data.js' %}"></script>

{% endblock %}